certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
funcsigs==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pymongo==3.10.0
pyotp==2.3.0
python-anticaptcha==0.3.1
python-dotenv==0.10.3
python-interface==1.5.3
requests==2.22.0
six==1.13.0
typing==3.7.4.1
urllib3==1.25.7
Werkzeug==0.16.0
-e git://github.com/tm57/fut@5aa6ca93100389695edce62f16d8e52b889cc164#egg=fut